<!DOCTYPE html>
<html>
  <head>
    <title>WelcomePage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background_photo">
      <%= image_tag(current_background_image) %>
    </div>
    <% if current_user %>
      <div class="log-in">
        <p><%= link_to "Sign out", session_url, method: :delete %></p>
      </div>
    <% else %>
      <div class="log-in">
        <%= link_to "Sign In", new_session_url %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
